@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
 box-sizing: border-box;   
 border: 0;
 margin: 0;
 padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
/* nav bar style */
a {
    color:inherit;
    text-decoration: none;
}
.navbar {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2.5%;
    margin-bottom: 60px;
}
.navbar > img{
    width: 400px;
    margin-right: 100px;
}
.navbar>a {
    flex: 1 1 0;
    box-shadow: 2px 5px #E6E6E6;
    background-image: linear-gradient(to top, #dadada, #e0e0e0, #e7e7e7, #ededed, #f4f4f4);
    color: #2F5361;
    font-size: 1.2em;
    margin-right:10px;
    text-align: center;
    margin-top: 40px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
a:hover {
    background-image: linear-gradient(to bottom, #2b4f5d, #355865, #3f616d, #4a6b76, #54747e);
    color: white;
    box-shadow: 2px 5px #66818F;
}
/* catalog style */
.intro-catalog {
    position: relative;
    height: 70vh;
    width: 100vw;
    margin-bottom: 20px;
}
.rounded-img {
    position: relative;
    margin: 0 25px;
    border-radius: 50%;
    width: 17%;
    height: 50%;
    border: 3px #D4D7DB solid;
    padding: 5px;
    z-index: 9;
    background-color: white;
    top: 40px;
}
#smiling-man {
    position: absolute;
    z-index: 9;
    height: 100%;
    width: 35%;
    right: 2.5%;
    bottom: 0;
}
#background-catalog {
    position: absolute;
    background-image: linear-gradient(to top, #bbd2d8, #c5d7dc, #d0dde0, #dae2e5, #e4e8e9);
    height: 80%;
    width: 100%;
    bottom: 0;
}
#text-catalog {
    position: absolute;
    bottom: 20px;
    left: 2.5%;
    color: #284A5B;
    width: 50%;
    height: 30%;
}
/* content styling */
.content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding:0 2.5%;
    grid-gap: 2.5%;
    margin-bottom: 50px;
}
.article {
    text-align: left;
    border-bottom: 2px gray dashed;
    margin-bottom: 1em;
}
.article-with-pic > div{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.article-with-pic-content >img {
    width: 100%;
    padding-right: 10%;
    height: auto;
}

h2 {
    margin-bottom: 1em;
    color: #244E5C;
}
p {
    margin-bottom: 0.5em;
}
.article-detail {
    margin-bottom: 0.5em;
    font-size: 10px;
    color: gray;
}
#left-content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
#mid-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
#right-content {
    text-align: left;
}
/* footer style */
.footer {
    background-color: #F5F5F5;
}
.upper-footer-ele {
    padding:1% 0;
    text-align: center;
    color: #808B8C;
    font-size: 80%;
}
.upper-footer-ele >h3{
    margin-bottom: 0.5em;
}
#upper-footer {
    display: flex;
    justify-content: space-around;
}
#lower-footer{
    text-align: center;
    font-size: 70%;
    color: gray;
}